<div class="contenedor-profile">
  <h1 class="profile">Profile {{user.first_name}} {{user.last_name}} </h1>
  <div>
    <img src="{{!-- /uploads/profiles --}}{{user.image}}" alt="user image profile" style="width: 40%; border: 1px solid black;"/>
  </div>

  {{#if user}}
    <div>
      <p class="profile">role: {{user.role}}</p>
    </div>
  {{else}}
    <div>
      <h1 class="profile">Hello {{user.first_name}}</h1>
      <p class="profile">There are nothing yet.</p>
    </div>
  {{/if}}
  <div class="register">
    <button
      class="button btn-secudary"
      onclick="location.href='/api/sessions/login'"
    >Cerrar Sesión</button>
  </div>
</div>